* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	height: 100vh;
	color: #fff;
	background-color: #333;
}

div {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 400px;
	width: 600px;
	font-size: 35px;
	text-transform: uppercase;
	background-image: url("https://unsplash.it/600/400");
	transform: translate(-50%, -50%) rotate(45deg);
	transition: transform 1s ease-in;
}

p {
	text-align: center;
	line-height: 400px;
	transition: color 0.3s;
	transition-delay: 1s;
}

div:hover {
	transform: translate(-50%, -50%) rotate(-360deg);
}

div:hover p {
	color: gold;
	
}
